################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Phillips2_Dev/v15/Server/sqlite3
