<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <appSettings>
    <add key="LoadEJResourcesFromAssembly" value="true" />
    <add key="EJResources" value="jsrender:true;themes:true;" />
  </appSettings>
  <connectionStrings>
    <add name="TSOConn" connectionString="Data Source=91.208.99.2,3367;Initial Catalog=A1120675;Persist Security Info=True;User ID=A1120675;Password=Monst3rlinksT" providerName="System.Data.SqlClient" />
    <!--<add name="Conn11" connectionString="Data Source=10.168.1.68;Initial Catalog=A1120675;Persist Security Info=True;User ID=A1120675;Password=Monst3rlinksT" providerName="System.Data.SqlClient"/>-->
    <remove name="LocalMySqlServer" />
    <remove name="DefaultConnection" />
    <add name="LocalMySqlServer" connectionString="Datasource=91.208.99.2;Database=travelma2_phil1;uid=travelma2_phil1;pwd=Monst3rlinksT" providerName="MySql.Data.MySqlClient" />
    <add name="DefaultConnection" connectionString="Datasource=91.208.99.2;Database=travelma2_phil1;uid=travelma2_phil1;pwd=Monst3rlinksT" providerName="MySql.Data.MySqlClient" />
    <!--<add name="DefaultConnection" connectionString="Data Source=91.208.99.2,3367;Initial Catalog=A1120675;Persist Security Info=True;User ID=A1120675;Password=Monst3rlinksT" providerName="System.Data.SqlClient" />-->
  </connectionStrings>
  <!--
  
  server=rdsipos01d.cxvevr7ci7iw.eu-west-1.rds.amazonaws.com;user=appadmin; database=; password=
  
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.6" />
      </system.Web>
  -->
  <system.web>
    
    <authentication mode="None" />
    <compilation debug="true" targetFramework="4.6">
      <assemblies>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.ComponentModel, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Configuration.Install, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Drawing.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Management, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Transactions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Net.Http, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="Syncfusion.Compression.Base, Version=16.3460.0.21, Culture=neutral, PublicKeyToken=3D67ED1F87D44C89" />
        <add assembly="Syncfusion.Linq.Base, Version=16.3460.0.21, Culture=neutral, PublicKeyToken=3D67ED1F87D44C89" />
        <add assembly="Syncfusion.EJ, Version=16.3460.0.21, Culture=neutral, PublicKeyToken=3D67ED1F87D44C89" />
        <add assembly="Syncfusion.EJ.Pivot, Version=16.3460.0.21, Culture=neutral, PublicKeyToken=3D67ED1F87D44C89" />
        <add assembly="Syncfusion.Olap.Base, Version=16.3460.0.21, Culture=neutral, PublicKeyToken=3D67ED1F87D44C89" />
        <add assembly="Syncfusion.PivotAnalysis.Base, Version=16.3460.0.21, Culture=neutral, PublicKeyToken=3D67ED1F87D44C89" />
        <add assembly="Syncfusion.XlsIO.Base, Version=16.3460.0.21, Culture=neutral, PublicKeyToken=3D67ED1F87D44C89" />
        <add assembly="Syncfusion.DocIO.Base, Version=16.3460.0.21, Culture=neutral, PublicKeyToken=3D67ED1F87D44C89" />
        <add assembly="Syncfusion.Pdf.Base, Version=16.3460.0.21, Culture=neutral, PublicKeyToken=3D67ED1F87D44C89" />
        <add assembly="Syncfusion.EJ.Web, Version=16.3460.0.21, Culture=neutral, PublicKeyToken=3D67ED1F87D44C89" />
        <add assembly="Syncfusion.EJ.Export, Version=16.3460.0.21, Culture=neutral, PublicKeyToken=3D67ED1F87D44C89" />
        <add assembly="Syncfusion.OfficeChart.Base, Version=16.3460.0.21, Culture=neutral, PublicKeyToken=3D67ED1F87D44C89" />
        <add assembly="Syncfusion.Presentation.Base, Version=16.3460.0.21, Culture=neutral, PublicKeyToken=3D67ED1F87D44C89" />
        <add assembly="Syncfusion.PresentationToPdfConverter.Base, Version=16.3460.0.21, Culture=neutral, PublicKeyToken=3D67ED1F87D44C89" />
        <add assembly="Syncfusion.OfficeChartToImageConverter.Wpf, Version=16.3460.0.21, Culture=neutral, PublicKeyToken=3D67ED1F87D44C89" />
        <add assembly="Syncfusion.EJ.ReportViewer, Version=16.3460.0.21, Culture=neutral, PublicKeyToken=3D67ED1F87D44C89" />
        <add assembly="Syncfusion.PMML.Base, Version=16.3460.0.21, Culture=neutral, PublicKeyToken=3D67ED1F87D44C89" />
        <add assembly="Syncfusion.Shared.Wpf, Version=16.3460.0.21, Culture=neutral, PublicKeyToken=3D67ED1F87D44C89" />
        <add assembly="Syncfusion.SfChart.Wpf, Version=16.3460.0.21, Culture=neutral, PublicKeyToken=3D67ED1F87D44C89" />
        <add assembly="Syncfusion.DocToPdfconverter.Base, Version=16.3460.0.21, Culture=neutral, PublicKeyToken=3D67ED1F87D44C89" />
        <add assembly="Syncfusion.ExcelToPDFConverter.Base, Version=16.3460.0.21, Culture=neutral, PublicKeyToken=3D67ED1F87D44C89" />
        <add assembly="Syncfusion.HTMLConverter.Base, Version=16.3460.0.21, Culture=neutral, PublicKeyToken=3D67ED1F87D44C89" />
        <add assembly="Syncfusion.SfMaps.WPF, Version=16.3460.0.21, Culture=neutral, PublicKeyToken=3D67ED1F87D44C89" />
        <add assembly="Syncfusion.Gauge.Wpf, Version=16.3460.0.21, Culture=neutral, PublicKeyToken=3D67ED1F87D44C89" />
        <add assembly="Syncfusion.EJ.PdfViewer, Version=16.3460.0.21, Culture=neutral, PublicKeyToken=3D67ED1F87D44C89" />
        <add assembly="System.DirectoryServices, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.DirectoryServices.AccountManagement, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.DirectoryServices.Protocols, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
      </assemblies>
    </compilation>
    
    <httpRuntime maxRequestLength="1024000" targetFramework="4.6" />
    
    
    <pages>
      <namespaces>
        <add namespace="System.Web.Optimization" />
        <add namespace="Microsoft.AspNet.Identity" />
      </namespaces>
      <controls>
        <add assembly="Microsoft.AspNet.Web.Optimization.WebForms" namespace="Microsoft.AspNet.Web.Optimization.WebForms" tagPrefix="webopt" />
      </controls>
    </pages>
    <membership>
      <providers>
        <!--
        ASP.NET Membership is disabled in this template. Please visit the following link https://go.microsoft.com/fwlink/?LinkId=301889 to learn about the ASP.NET Membership support in this template
        -->
        <clear />
      </providers>
    </membership>
    <profile>
      <providers>
        <!--
        ASP.NET Membership Profile is disabled in this template. Please visit the following link https://go.microsoft.com/fwlink/?LinkId=301889 to learn about the ASP.NET Membership support in this template
        -->
        <clear />
      </providers>
    </profile>
    <roleManager>
      <!--
          ASP.NET Membership Role is disabled in this template. Please visit the following link https://go.microsoft.com/fwlink/?LinkId=301889 to learn about the ASP.NET Membership support in this template
        -->
      <providers>
        <clear />
      </providers>
    </roleManager>
    <!--
            If you are deploying to a cloud environment that has multiple web server instances,
            you should change session state mode from "InProc" to "Custom". In addition,
            change the connection string named "DefaultConnection" to connect to an instance
            of SQL Server (including SQL Azure and SQL  Compact) instead of to SQL Server Express.
    
<add name="LocalMySqlServer" connectionString="Datasource=rdsipos01d.cxvevr7ci7iw.eu-west-1.rds.amazonaws.com;Database=innodb;uid=appadmin;pwd=jyMMkn9UWTrDosfNNc5zf97Iwua9NIKb9L2cp17K" providerName="MySql.Data.MySqlClient"
<sessionState mode="Custom" allowCustomSqlDatabase="true" customProvider="innodb" timeout="30" sqlConnectionString="Datasource=rdsipos01d.cxvevr7ci7iw.eu-west-1.rds.amazonaws.com;Database=innodb;uid=appadmin;pwd=jyMMkn9UWTrDosfNNc5zf97Iwua9NIKb9L2cp17K;" stateNetworkTimeout="30" />
    
      -->
    
      <sessionState mode="InProc" timeout="25"></sessionState>  
       
  </system.web>
  <system.webServer>
    <staticContent>
      <remove fileExtension=".eot" />
      <remove fileExtension=".woff2" />
      <remove fileExtension=".woff" />
      <remove fileExtension=".otf" />
      <mimeMap fileExtension=".eot" mimeType="application/vnd.ms-fontobject" />
      <mimeMap fileExtension=".otf" mimeType="font/otf" />
      <mimeMap fileExtension=".woff" mimeType="application/font-woff" />
      <mimeMap fileExtension=".woff2" mimeType="application/font-woff" />
    </staticContent>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="104857600" /> 
      </requestFiltering>
    </security>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" culture="neutral" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" culture="neutral" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" culture="neutral" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" culture="neutral" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" culture="neutral" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.7.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.7.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
  <system.data>
    <DbProviderFactories>
      <remove invariant="MySql.Data.MySqlClient" />
      <add description=".Net Framework Data Provider for MySQL" invariant="MySql.Data.MySqlClient" name="MySQL Data Provider" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.10.6.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
    </DbProviderFactories>
  </system.data>
</configuration>